/02 - Website Back-End/__pycache__/
/02 - Website Back-End/.pytest_cache/
/02 - Website Back-End/update_view_count.zip
/03 - Website Infra/.terraform/
/03 - Website Infra/.terraform.lock.hcl
/03 - Website Infra/.terraform.tfstate.lock.info
/03 - Website Infra/terraform.tfstate
/03 - Website Infra/terraform.tfstate.backup