h1 {
    font-family: 'Open Sans';
    /* font-family: 'ButlerRegular'; */
    font-size: 44px !important;
    font-weight: bold;
}

h2 {
    font-family: 'Open Sans';
    font-size: 20px !important;
    /* text-transform: uppercase; */
    overflow-wrap: break-word;
}

h3 {
    font-family: 'Open Sans';
    /* font-family: 'ButlerRegular'; */
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: bold;

    background-color: rgb(186, 234, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h4 {
    /* company */
    font-family: 'Open Sans';
    font-size: 15px !important;
}

h5 {
    /* experience / project subheader */
    font-family: 'Open Sans';
    font-size: 11px !important;
    font-weight: bold;
    text-transform: uppercase;
}

p, li {
    font-family: 'Open Sans';
    font-size: 13px !important;
}


ul{
    margin-left: 18px;
  }

.bold-text {
    font-family: 'Open Sans';
    font-size: 11px !important;
    font-weight: bold;
}


.contact-info {
    /* display: flex; 
    vertical-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;*/

    font-family: 'Open Sans';
    font-size: 12px;

    overflow-wrap: break-word;
    word-break: break-word;

    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;

    padding: 1% 0;
    border: 3px;

}

.bullet-small {
    /* color:rgb(186, 234, 255); */
    font-size: 12px;
    font-weight: 400;

    /* margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.footer {
    text-align: center;
}

.work-company-row {
    margin-bottom: 10px;
}

.work-date-col {
    border-right-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}



/*
.work-col-dot {
    height: 15px;
    width: 15px;
    background-color: rgb(186, 234, 255);
    border-radius: 50%;
    display: inline-block;

} */

/*
.section-corner-dot::before {
    content: '\f111';
    font-family: 'Open Sans';
    position: absolute;
    

    left: calc(30%);

    color: rgb(186, 234, 255);
    padding-bottom: 10px;
}*/
